# Environment variables
.env

# Database
*.db
*.sqlite

# Certificates
certs/

# Built files
bloggo

# Config files
bloggo-config.json

# Filesystem bucket files
uploads/

# Embedded frontend
frontend/dist/